<!DOCTYPE HTML>
<!--
	Elemental by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
-->
<html>
	<head>
		<title><%=testtitle%></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<div id="header">
				<a class="logo" href="/"><strong><%=testtitle%></strong> :3</a>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li>
							<a href="#">Tests</a>
							<ul>
								<li><a href="#">Login</a></li>
								<li><a href="#">Management Only</a></li>
								<li><a href="#">Notice board</a></li>
								<li>
									<a href="#">판도라의 상자</a>
									<ul>
										<li><a href="http://cdn.akamai.steamstatic.com/steam/apps/334660/ss_8d26d27426fdfe46b252cb21bcdcbde64c44fb3d.600x338.jpg?t=1447365350">?</a></li>
										<li><a href="http://static.zerochan.net/Ahri.full.1588151.jpg">?!</a></li>
										<li><a href="https://blogjob.com/oneangrygamer/files/2016/02/Image11-1-585x300.jpg">?!?</a></li>
										<li class="active"><a href="/ahri">!!!!?!!?!</a></li>
									</ul>
								</li>
								<li><a href="/readertest">Book Reader Test</a></li>
							</ul>
						</li>
						<li><a href="demo">Demo</a></li>
					</ul>
				</nav>
			</div>

		<!-- Main -->
			<div id="main">

				<!-- Header -->
					<header>
						<h1>Easter egg</h1>
					</header>

				<!-- Content -->
						<section>
							<h2>&nbsp;Ahri :3</h2>
							<div class="12u$">
								<ul class="actions">
									<li><input type="button" value="Tap Harder" class="special" onclick="undressahri()"/></li>
								</ul>
							</div>
							<img id='nakedahri' src ="http://i.wgirlz.us/t5VXJ0X.jpg" style="opacity:0; width:530px">
							<img id='ahri' src ="http://lolart.ucoz.com/_ph/10/236499548.jpg" style="width:530px; position:relative; top:-800px;">
							

						</section>


					</section>

			</div>

		<!-- Footer -->
			<div id="footer">
				<h2>Get in touch</h2>
				<p>We probably won't get back to you.</p>
				<ul class="major-icons">
					<li>
						<h3 class="icon fa-phone major"><span class="label">Phone</span></h3>
						<p>010-7248-1535<br>권태형 번호 읎다</p>
					</li>
					<li>
						<h3 class="icon fa-map major"><span class="label">Address</span></h3>
						<p>사무실 하나 차려줘<br />
						NY, United States (뻥)</p>
					</li>
					<li>
						<h3 class="icon fa-envelope major"><span class="label">Email</span></h3>
						<p><a href="http://xkcd.com">mark3236@naver.com</a>
						<br><a href="http://xkcd.com">dennisthkwon@gmail.com</a>
						</p>
					</li>
				</ul>
				<ul class="joined-icons">
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
				</ul>
				<p class="copyright">&copy; Kwon-Lee Brothers. All rights reserved.</p>
			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
			<script type="text/javascript">
			document.getElementById('ahri').style.opacity=1;
			function undressahri(){
				document.getElementById('nakedahri').style.opacity=1;
				document.getElementById('ahri').style.opacity-=0.05;
			}
			</script>

	</body>
</html>