<!DOCTYPE HTML>
<!--
	Elemental by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>Restricted</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		

		<!-- Scripts -->
			<script type = "text/javascript">
			var pass = prompt("Restricted Zone : Password?");
			if(pass=='master'){
				window.location=window.location.pathname+"/easteregg";
			}
			else{
				alert("Wrong password");
				history.back();
			}
			</script>

	</body>
</html>