<!DOCTYPE HTML>
<!--
	Elemental by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
-->
<html>
	<head>
		<title><%=testtitle%></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<div id="header">
				<a class="logo" href="/"><strong><%=testtitle%></strong> by Kwon-Lee Brothers</a>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li class="active"><a href="/demo">Demo</a></li>
						<li>
							<a href="#">Tests</a>
							<ul>
								<li><a href="#">Login</a></li>
								<li><a href="#">Management Only</a></li>
								<li><a href="#">Notice board</a></li>
								<li>
									<a href="/ahri">판도라의 상자</a>
									<ul>
										<li><a href="/ahri">!!!!?!!?!</a></li>
									</ul>
								</li>
								<li><a href="/readertest">Book Reader Test</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>

		<!-- Main -->
			<div id="main">

				<!-- Header -->
					<header>
						<h1>설문지</h1>
					</header>

				<!-- Content -->
						<section style="padding-left:10px; padding-right:10px; padding-bottom:10px">
							<p>맞는 책을 찾아드리기 위한 최소한의 간략한 질문만 모았습니다 :)</p>
							<form name="question" method="post" action="demo/submitpref" onsubmit="return validateForm()">
								<h3>성별</h3>
								<div class="4u 12u$(small)">
									<input type="radio" id="gender-male" name="gender" value="male">
									<label for="gender-male">남성</label>
								</div>
								<div class="4u 12u$(small)">
									<input type="radio" id="gender-female" name="gender" value="female">
									<label for="gender-female">여성</label>
								</div>
								<br>

								<div class="row uniform">
									<div class="6u 12u$(xsmall)">
										<h3>나이</h3>
										<input type="text" name="age" id="age" value="" />
									</div>
									
									<div class="12u$">
										<h3>좋아하는 장르</h3>
										<div class="select-wrapper">
											<select name="genre" id="genre">
												<option value="">-</option>
												<option value="fiction">소설</option>
												<option value="technical">비문학</option>
												<option value="poem">시집</option>
											</select>
										</div>
									</div>

									<div class="12u$">
										<h3>오늘 컨디션은 어떠신가요?</h3>
										<div class="select-wrapper">
											<select name="condition" id="condition">
												<option value="">-</option>
												<option value=5>정말 좋다</option>
												<option value=4>좋다</option>
												<option value=3>잘 모르겠다
												<option value=2>별로다</option>
												<option value=1>정말 별로다</option></option>
											</select>
										</div>
									</div>

									<div class="12u$">
										<ul class="actions">
											<li><input type="submit" value="Send Message" class="special" /></li>
											<li><input type="reset" value="Reset" /></li>
										</ul>
									</div>
								</div>
							</form>
						</section>


					</section>

			</div>

		<!-- Footer -->
			<div id="footer">
				<h2>Get in touch</h2>
				<p>We will get back to you as soon as possible.</p>
				<ul class="major-icons">
					<li>
						<h3 class="icon fa-phone major"><span class="label">Phone</span></h3>
						<p>010-2642-6824<br>010-7248-1535</p>
					</li>
					<li>
						<h3 class="icon fa-map major"><span class="label">Address</span></h3>
						<p>앉을 수 있는 곳이면<br>
						어디든 저희 공간입니다.</p>
					</li>
					<li>
						<h3 class="icon fa-envelope major"><span class="label">Email</span></h3>
						<p><a href="mailto:dennisthkwon@gmail.com">dennisthkwon@gmail.com</a>
						<br><a href="mailto:mark3236@naver.com">mark3236@naver.com</a>
						</p>
					</li>
				</ul>
				<ul class="joined-icons">
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
				</ul>
				<p class="copyright">&copy; Kwon-Lee Brothers. All rights reserved.</p>
			</div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.dropotron.min.js"></script>
			<script src="/assets/js/jquery.scrollex.min.js"></script>
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/assets/js/main.js"></script>

			<script type="text/javascript">
			function validateForm(){
				var a = document.forms["question"]["gender"].value;
				var b = document.forms["question"]["age"].value;
				var c = document.forms["question"]["genre"].value;
				var d = document.forms["question"]["condition"].value;
				if(a==null||a==""||b==null||b==""||c==null||c==""||d==null||d==""||(!Number.isInteger(parseInt(b)))){
					alert("정확하게 값을 입력해주세요!");
					return false;
				}
				return true;
			}
			</script>

	</body>
</html>