<!DOCTYPE HTML>
<!--
	Elemental by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
-->
<html>
	<head>
		<title><%=testtitle%></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<div id="header" class="alt">
				<a class="logo" href="/"><strong><%=testtitle%></strong> by Kwon-Lee Brothers</a>
				<nav id="nav">
					<ul>
						<li class="active"><a href="/">Home</a></li>
						<li>
							<a href="#">Tests</a>
							<ul>
								<li><a href="#">Login</a></li>
								<li><a href="#">Management Only</a></li>
								<li><a href="#">Notice board</a></li>
								<li>
									<a href="#">판도라의 상자</a>
									<ul>
										<li><a href="http://cdn.akamai.steamstatic.com/steam/apps/334660/ss_8d26d27426fdfe46b252cb21bcdcbde64c44fb3d.600x338.jpg?t=1447365350">?</a></li>
										<li><a href="http://static.zerochan.net/Ahri.full.1588151.jpg">?!</a></li>
										<li><a href="https://blogjob.com/oneangrygamer/files/2016/02/Image11-1-585x300.jpg">?!?</a></li>
										<li><a href="http://lolart.ucoz.com/_ph/10/236499548.jpg">!!!!?!!?!</a></li>
									</ul>
								</li>
								<li><a href="/readertest">Book Reader Test</a></li>
							</ul>
						</li>
						<li><a href="demo">Demo</a></li>
					</ul>
				</nav>
			</div>

		<!-- Main -->
			<div id="main">

				<!-- Header -->
					<header>
						<span class="logo"></span>
						<h1><strong>느림과 여유</strong> 2016 </h1>
					</header>

				<!-- Banner -->
					<section class="banner">
						<h2>웹사이트 구축중입니다. 현재는 데모만 지원합니다.</h2>
						<ul class="actions">
							<li><a href="/demo" class="button">Demo</a></li>
						</ul>
					</section>

				<!-- One -->
					<section id="one" class="wrapper spotlight">
						<div class="content">
							<div class="inner">
								<h2>지하철에서 책 한권</h2>
								<p>읽는 말든 알바여</p>
								<ul class="actions">
									<li><a href="/demo" class="button">Demo</a></li>
								</ul>
							</div>
						</div>
						<ul class="grid-icons">
							<li>
								<div class="inner">
									<span class="icon fa-cog major"></span>
									<h3>개발중</h3>
								</div>
							</li>
							<li>
								<div class="inner">
									<span class="icon fa-desktop major"></span>
									<h3>공모전 되면 데탑좀 사주라</h3>
								</div>
							</li>
							<li>
								<div class="inner">
									<span class="icon fa-signal major"></span>
									<h3>GRAPHS ARE DOPE</h3>
								</div>
							</li>
							<li>
								<div class="inner">
									<span class="icon fa-check major"></span>
									<h3>여친 생겨야 개발함</h3>
								</div>
							</li>
						</ul>
					</section>


				<!-- Five -->
					<section id="five" class="wrapper special">
						<h2>Gay Rainbow Army</h2>
						<p>These men weren't that close back in the days. But Mr.K realized the potential of Mr.L, and he's been chasing Mr.L's tail ever since. Cute.</p>
						<ul class="faces">
							<li>
								<span class="image"><img src="https://scontent.xx.fbcdn.net/v/t1.0-9/1918078_832749990204855_3073543336687383169_n.jpg?oh=8f3cc29c32c8265d240fad97306c813b&oe=5832BA06" style="width:167px" alt="" /></span>
								<h3>이규현</h3>
								<p>"이제 이 사업은 제껍니다."</p>
							</li>
							<li>
								<span class="image"><img src="https://scontent.xx.fbcdn.net/v/t1.0-9/13254468_10208028050112646_4060021007407248717_n.jpg?oh=738501ffa6b08bad928150ca7cbb6ff5&oe=58327AC2" style="width:167px" alt="" /></span>
								<h3>권태형</h3>
								<p>"전 아직도 이게 제 사업이라고 착각중입니다."</p>
							</li>
						</ul>
					</section>

			</div>

		<!-- Footer -->
			<div id="footer">
				<h2>Get in touch</h2>
				<p>We probably won't get back to you.</p>
				<ul class="major-icons">
					<li>
						<h3 class="icon fa-phone major"><span class="label">Phone</span></h3>
						<p>010-7248-1535<br>권태형 번호 읎다</p>
					</li>
					<li>
						<h3 class="icon fa-map major"><span class="label">Address</span></h3>
						<p>사무실 하나 차려줘<br />
						NY, United States (뻥)</p>
					</li>
					<li>
						<h3 class="icon fa-envelope major"><span class="label">Email</span></h3>
						<p><a href="http://xkcd.com">mark3236@naver.com</a>
						<br><a href="http://xkcd.com">dennisthkwon@gmail.com</a>
						</p>
					</li>
				</ul>
				<ul class="joined-icons">
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
				</ul>
				<p class="copyright">&copy; Kwon-Lee Brothers. All rights reserved.</p>
			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>