<!DOCTYPE HTML>
<!--
	Elemental by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
-->
<html>
	<head>
		<title><%=testtitle%></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<div id="header" class="alt">
				<a class="logo" href="/"><strong><%=testtitle%></strong> by Kwon-Lee Brothers</a>
				<nav id="nav">
					<ul>
						<li class="active"><a href="/">Home</a></li>
						<li><a href="/demo">Demo</a></li>
						<li>
							<a href="#">Tests</a>
							<ul>
								<li><a href="#">Login</a></li>
								<li><a href="#">Management Only</a></li>
								<li><a href="#">Notice board</a></li>
								<li>
									<a href="/ahri">판도라의 상자</a>
									<ul>
										<li><a href="/ahri">!!!!?!!?!</a></li>
									</ul>
								</li>
								<li><a href="/readertest">Book Reader Test</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>

		<!-- Main -->
			<div id="main">

				<!-- Header -->
					<header>
						<span class="logo"></span>
						<h1><strong>느림과 여유</strong> 2016 </h1>
					</header>

				<!-- Banner -->
					<section class="banner">
						<h2>현재는 저작권 만료 원서만 제공합니다. 출판사와 계약중입니다.</h2>
						<ul class="actions">
							<li><a href="/demo" class="button">책 추천받기</a></li>
						</ul>
					</section>

				<!-- One -->
					<section id="one" class="wrapper spotlight">
						<div class="content">
							<div class="inner">
								<h2>지하철 기다리는 짧은 시간</h2>
								<p>바쁜 일상은 잠시 접어두고 책 한권 추천받는 건 어떠세요?</p>
								<ul class="actions">
									<li><a href="/demo" class="button">체험하기</a></li>
								</ul>
							</div>
						</div>
						<ul class="grid-icons">
							<li>
								<div class="inner">
									<span class="icon fa-cog major"></span>
									<h3>매일 달리기만 한 당신</h3>
								</div>
							</li>
							<li>
								<div class="inner">
									<span class="icon fa-briefcase major"></span>
									<h3>업무에 지친 당신</h3>
								</div>
							</li>
							<li>
								<div class="inner">
									<span class="icon fa-subway major"></span>
									<h3>지하철에서 잠시 쉬며</h3>
								</div>
							</li>
							<li>
								<div class="inner">
									<span class="icon fa-book major"></span>
									<h3>책 한권 어떤가요</h3>
								</div>
							</li>
						</ul>
					</section>


				<!-- Five -->
					<section id="five" class="wrapper special">
						<h2>개발자들</h2>
						<p>점점 목적지만을 위해 달려가는 사회가 되어가는 것이 안타까워 사람들에게 문화의 접근성을 높여주고 싶다는 생각으로 개발을 시작하였습니다.</p>
						<ul class="faces">
							<li>
								<span class="image"><img src="https://scontent.xx.fbcdn.net/v/t1.0-9/13254468_10208028050112646_4060021007407248717_n.jpg?oh=738501ffa6b08bad928150ca7cbb6ff5&oe=58327AC2" style="width:167px" alt="" /></span>
								<h3>권태형 | CFO</h3>
								<p>고려대학교 경영학과 11학번<br>경영/회계담당</p>
							</li>
							<li>
								<span class="image"><img src="https://scontent.xx.fbcdn.net/v/t1.0-9/1918078_832749990204855_3073543336687383169_n.jpg?oh=8f3cc29c32c8265d240fad97306c813b&oe=5832BA06" style="width:167px" alt="" /></span>
								<h3>이규현 | CTO</h3>
								<p>성균관대학교 컴퓨터교육/경영학과 12학번<br>웹디자인/서버개발</p>
							</li>
						</ul>
					</section>

			</div>

		<!-- Footer -->
			<div id="footer">
				<h2>Get in touch</h2>
				<p>We will get back to you as soon as possible.</p>
				<ul class="major-icons">
					<li>
						<h3 class="icon fa-phone major"><span class="label">Phone</span></h3>
						<p>010-2642-6824<br>010-7248-1535</p>
					</li>
					<li>
						<h3 class="icon fa-map major"><span class="label">Address</span></h3>
						<p>앉을 수 있는 곳이면<br>
						어디든 저희 공간입니다.</p>
					</li>
					<li>
						<h3 class="icon fa-envelope major"><span class="label">Email</span></h3>
						<p><a href="mailto:dennisthkwon@gmail.com">dennisthkwon@gmail.com</a>
						<br><a href="mailto:mark3236@naver.com">mark3236@naver.com</a>
						</p>
					</li>
				</ul>
				<ul class="joined-icons">
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
				</ul>
				<p class="copyright">&copy; Kwon-Lee Brothers. All rights reserved.</p>
			</div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.dropotron.min.js"></script>
			<script src="/assets/js/jquery.scrollex.min.js"></script>
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/assets/js/main.js"></script>

	</body>
</html>